body {
   margin: 0;
   font-size: 1.4rem;
   font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue","Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;

   line-height: 1.5;
   background-color:lightgreen;
   text-align: center;
   font-weight: 600;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.container  {
   margin: 0 100px;
}

.header {
   margin-bottom: 50px;
}

.appItem {
   margin-bottom: 50px;
}

.image {
   width: 500px;
   height: 500px;
   border-radius: 50px;
   -webkit-box-shadow: 0 0 30px 10px rgba($color: #000000, $alpha: .4);
        box-shadow: 0 0 30px 10px rgba($color: #000000, $alpha: .4);
}