body {
   margin: 0;

   font-size: 1.4rem;
   line-height: 1.5;
}

*,
*:before,
*:after {
   box-sizing: border-box;
}

.navigation {
   display: flex;
   justify-content: space-between;
   margin: 20px 200px 0;

   div {
      font-size: 30px;
      color: green;
      cursor: pointer;
   }
}